<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.RorschachCreator" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Rorschach Creator</name>
    <description>Unleash your inner artist with this app! Easily create symmetrical, repeating drawings that are both intricate and beautiful.


Sources
</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
