<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.RorschachCreator" version="1.0.0" xmlns="http://www.w3.org/2000/svg" xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Rorschach Creator</name>
    <description>Unleash your inner artist with this app! Easily create symmetrical, repeating drawings that are both intricate and beautiful.

Sources
</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <icon src="\logo.png" />
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:requestLegacyExternalStorage="true" />
        </edit-config>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <meta-data android:name="android.app.lib_name" android:value="app" />
        </config-file>
    </platform>
<plugin name="br.com.brunogrossi.MediaScannerPlugin" spec="0.1.3" />
<plugin name="com.drifty.cordova.cameraroll" spec="0.2.1" />
<plugin name="cordova-plugin-android-mediastore" spec="0.0.1" />
<plugin name="cordova-plugin-android-permissions" spec="1.1.5" />
<plugin name="cordova-plugin-camera" spec="8.0.0" />
<plugin name="cordova-plugin-dialogs" spec="2.0.2" />
<plugin name="cordova-plugin-file" spec="8.1.3" />
<plugin name="cordova-plugin-file-transfer" spec="2.0.0" />
<plugin name="cordova-plugin-filepath" spec="1.6.0" />
<plugin name="cordova-plugin-save-blob" spec="0.0.3" />
<plugin name="cordova-plugin-save-image" spec="0.3.0" />
    </widget>